---
import Layout from '@layouts/Neovim.astro';
import { projects } from '@cv';
import { Icon } from 'astro-icon/components';
---

<Layout title="Projects">
  <ul id="project-list">
    {projects?.map((project) => {
      const {
        name,
        description,
        highlights,
        isActive,
        url,
        github,
        stack,
      } = project;

      const href = isActive ? url : github;

      return (
        <li
          class="mb-6 project-item leading-6 nvim-line"
          class:list={{
            active: isActive,
            'open-source': !!github,
          }}
          {...(href ? { 'data-href': href } : {})}
        >
          <div class="flex gap-2">
            {isActive && url ? (
              <a
                class="group flex items-center gap-1 text-lg decoration-dotted underline-offset-[5px] hover:underline transition-all duration-200 text-blue project-url"
                href={url}
                title={`View ${name}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {name}
                <Icon
                  name="ri:arrow-right-s-line"
                  width="24"
                  height="24"
                  class="text-skin-hue transition ease-linear group-hover:translate-x-1"
                />
              </a>
            ) : (
              <span class="text-lg text-blue">{name}</span>
            )}

            {github && (
              <a
                href={github}
                title={`View ${name} on GitHub`}
                aria-label={`View ${name} on GitHub`}
                target="_blank"
                rel="noopener noreferrer"
                class="opacity-75 transition duration-200 hover:text-green decoration-dotted underline-offset-[8px] hover:underline repository-url"
              >
                <span>〔GITHUB〕</span>
              </a>
            )}
          </div>

          {highlights?.length > 0 && (
            <div>
              {highlights.map((highlight) => (
                <span class="text-gray-600">
                  {highlight.slice(3)}.{" "}
                </span>
              ))}
            </div>
          )}

          <p class="text-gray-500">{description}</p>

          {stack && (
            <ul
              class="flex print:hidden flex-wrap gap-2 mt-6"
              aria-label="Technologies used"
            >
              {Object.entries(stack).map(([label], index) => (
                <li
                  class="cursor-default bg-transparent border-nvim-green/60 text-green flex items-center border-solid border rounded-md px-2 py-1 text-xs backdrop-blur-sm"
                >
                  <span>〔{index}〕</span>
                  <span>{label}</span>
                </li>
              ))}
            </ul>
          )}
        </li>
      );
    })}
  </ul>
</Layout>

<style>
  .project-item.active {
    background-color: rgba(0, 0, 0, 0.1);
  }
</style>
